@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'Quicksand' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color-black: #383838;
  --heigh-control: 42px;
  --text-color-white: #fcffee;
}