@media screen and (min-width: 0px) and (max-width: 767px) {
  .login-image {
    display: none !important;
  }

  .login-container {
    width: 55vw !important;
  }
}

@media screen and (min-width: 768px)  and (max-width: 1050px) {
  .login-container {
    width: 75vw !important;
  }
}

@media screen and (min-width: 1051px)  and (max-width: 1567px) {
  .login-container {
    width: 55vw !important;
  }
}