.text-field-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 346px;
    background-color: #EEEEEE;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.text-field-icon {
    margin-right: 8px;
}

.text-field-input {
    border: none;
    background-color: transparent;
    color: var(--text-color-black);
    font-size: 16px;
    width: 300px;
    margin-right: 8px;
    height: var(--heigh-control);
    font-weight:600;
}

.text-field-input:focus {
    outline: none;

}

.text-field-input::placeholder {
    color: var(--placeholder-color-black) !important;
    font-weight:600;
} 

// .text-field-input:focus::placeholder {
//     transform: translateX(10px);
//     font-weight: bold;
// }