@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'Quicksand' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color-black: #383838;
  --text-color-grey: #e0e0e0;
  --text-color-white: #fdfff6;
  --placeholder-color-black: #686868;
  --heigh-control: 54px;
  --white-color: #fdfff6;
  --success-color: #56d487;
  --error-color: #d46161;
  --info-color: #638cd8;
  --warning-color: #dbb561;
  --main-color: #7495ED;
  --main-hover-color: #85a4f8;
}

/* .background-popup {
  background-color: transparent;
  position: fixed;
  top: 0;
  padding-left: 35px;
  padding-top: 34px
} */


.toast-success {
  background-color: #11B714 !important;
  color: #fff !important;
}

.toast-error {
  background-color: #E84636 !important;
  color: #fff !important;
}

.toast-warning {
  background-color: #ffb70e !important;
  color: #fff !important;
}

.toast-info {
  background-color: #ffb70e !important;
  color: #fff !important;
}