.button-box {
    width: 200px;
    height: var(--heigh-control);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #665dee;
    margin-top: 12px;
    border-radius: 50px;
    border: 3px solid var(--white-color);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-box:hover {
    cursor: pointer;
    background-color: #928bff;
    color: var(--text-color-black);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform: translateY(-1px);
    border: 3px solid var(--white-color);
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
    .button-text,
    .button-icon {
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        color: var(--text-color-black);
    }
}

.button-box:active {
    cursor: pointer;
    background-color: #665dee;
    color: var(--white-color);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transform: translateY(3px);
    border: 3px solid var(--white-color);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    .button-text,
    .button-icon {
        transition-timing-function: ease-in-out;
        transition-duration: 0.1s;
        color: var(--white-color);
    }
}

.button-icon {
    margin-right: 8px;
    color: var(--white-color);
}

.button-text {
    font-weight: bold;
    color: var(--white-color);
}