.loading-component {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-container {
    background-color: #fff;
    width: 250px;
    height: 125px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-item {
    text-align: center;
}

.loading-title {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 550;
}

.loading-icon-box {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 90px;
    border-right: none;
}

.loading-icon-box {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// .loader {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100px;
//   }
  
//   .loader span {
//     display: inline-block;
//     width: 10px;
//     height: 10px;
//     margin: 0 5px;
//     background-color: #000;
//     border-radius: 50%;
//     animation: loading 1s infinite ease-in-out;
//   }
  
//   .loader span:nth-child(1) {
//     animation-delay: 0s;
//   }
  
//   .loader span:nth-child(2) {
//     animation-delay: 0.2s;
//   }
  
//   .loader span:nth-child(3) {
//     animation-delay: 0.4s;
//   }
  
//   @keyframes loading {
//     0%, 100% {
//       transform: scale(1);  /* Original size */
//       opacity: 1;
//     }
//     50% {
//       transform: scale(1.5); /* Grow the dot */
//       opacity: 0.5;
//     }
//   }